<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1 {
      font-size: 28;
      font-weight: normal;
      font-family: arial;
      color: rgb(100,100,100);
      text-align: center;
    }
    #banner {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    #container {
      max-width: 720px;
      margin: 0 auto;
    }
  </style>
  <title>my first page</title>
</head>
<body>
  <div id="container">
    <h1>ثانوية ابن خلدون</h1>
    <img id="banner" src="static/logo.jpg" height="320" width=100% alt="">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam recusandae accusantium repellendus hic veniam ipsum. Voluptates similique eos placeat. Magnam nisi dolores voluptatum! Suscipit vitae labore sapiente nisi nostrum facilis.</p>
    <h2>Lycee</h2>
    <p>number of classes</p>
    <div style="text-align: center">
      <button>Contact Us</button>
    </div>
    
  </div>
</body>
</html>